.popup {
  min-width: 300px;
  max-height: calc(100vh - 180px);
  padding-top: 24px;
  overflow: auto;
}

.label {
  margin-bottom: 8px;
  margin-top: 16px;
}

.bt {
  background-color: rgb(75, 75, 75);
  color: white;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 15px;
  border-radius: 10px;
}
