.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: black;
}

.loadgif {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main {
  border-radius: "20px";
  color: "#fff";
  border: "4px solid gray";
}

.mainButton {
  border-radius: "20px";
  color: "#fff";
  border: "4px solid gray";
}

.IncodeTutorialVideoFront {
  max-width: 100%;
}

.IncodeTutorialButtonContainerFront {
  margin-bottom: 300px;
}

.IncodeTutorialButton {
  width: 100%;
}

.IncodeTutorialButtonContainer {
  width: 100%;
}

/* Tutorial Front */
/* Header Container*/
.IncodeTutorialHeaderContainerFront {
  color: black;
  width: 100%;
}
/* Header */
.IncodeTutorialHeaderFront {
  display: flex;
  flex-direction: column-reverse;
}
/* Header Title (h1) */
.IncodeTutorialHeaderTitleFront {
}
/* Header Subtitle  */
.IncodeTutorialHeaderSubtitleFront {
  color: white;
}
/* Video */
.IncodeTutorialVideoFront {
  max-width: 100%;
}
/* Button container */
.IncodeTutorialButtonContainerFront {
}
/* Continue Button */
.IncodeTutorialButtonFront {
}

@media (min-width: 768px) {
  .fit {
    width: auto !important;
  }
}
