.editButton {
    border: 1px solid transparent;
    border-radius: 4px;
    background: #373a47;
    color: white;
  }

  .docButton {
    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
  }

  .mt{
    margin-top: 32px;
  }