section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  overflow: hidden;
}
section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: url(../../assets/wave.png);
  background-size: 1000px 100px;
}
section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000px;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999px;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998px;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave4 {
  animation: animate2 4s linear infinite;
  z-index: 997px;
  opacity: 0.7;
  animation-delay: -5s;
  height: 90px;
  bottom: 0px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
