@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.App {
  text-align: center;
}

body {
  font-family: "Source Sans Pro";
}

.navmain {
  top: 0px;
  position: absolute !important;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (min-width: 768px) {
  .row {
    display: flex;
  }
  .w50 {
    min-width: 50%;
  }
  .logo {
    margin-top: 7% !important;
  }
}

.logo {
  margin-top: 10%;
  width: 100px;
}

.first {
  margin-bottom: 24px;
}

.second {
  margin-bottom: 20px;
}

.mainDiv {
  text-align: center;
}

.logBt {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-radius: 10px;
}

.segTitle {
  padding-top: 100px;
  margin-bottom: 14px;
}

.title {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.text {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  line-height: 22px;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 330px) {
  .logo {
    width: 50px;
  }
  .title {
    margin-top: 10px;
  }
  .segTitle {
    margin-bottom: 10px;
  }
}

@media (max-width: 678px) {
  .segTitle {
    padding-top: 60px;
  }
}
