.App {
  font-family: sans-serif;
  text-align: center;
}

.main{
	  borderRadius: "20px";
	  color: '#fff';
	  border: "4px solid gray";
}

.mainButton{
	  borderRadius: "20px";
	  color: '#fff';
	  border: "4px solid gray";
}
.IncodeTutorialVideoFront {
  border: 1px solid green;
  /*transform: rotate(90deg);*/
}

.IncodeTutorialButtonContainerFront {
  margin-bottom: 300px;
}

.IncodeTutorialButton {
  width: 100%;
}

.IncodeTutorialButtonContainer {
  width: 100%;
}

/* Tutorial Front */
/* Header Container*/
.IncodeTutorialHeaderContainerFront {
  color: white;
  background-color: #ade345;
}
/* Header */
.IncodeTutorialHeaderFront {
  display: flex;
  flex-direction: column-reverse;
}
/* Header Title (h1) */
.IncodeTutorialHeaderTitleFront {
}
/* Header Subtitle  */
.IncodeTutorialHeaderSubtitleFront {
  color: white;
}
/* Video */
.IncodeTutorialVideoFront {
}
/* Button container */
.IncodeTutorialButtonContainerFront {
}
/* Continue Button */
.IncodeTutorialButtonFront {

}